@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Gruppo&family=Montserrat+Subrayada&family=Rubik+Maze&family=Zeyada&display=swap');

* {
    font-family: 'Bruno Ace SC', cursive;
}

#targetingbox {
    /* width: 120px; */
    /* height: 150px; */
    background-color: rgba(0, 0, 0, 0.604);
    z-index: 99;
    color: white;
    position: absolute;
    visibility: hidden;
    /* top: 555px;
    left: 30px; */
}

#targetingbox > h3 {
    font-size: 0.8rem;
    padding: 5px;
}

.header {
    height: 140px;
    width: 100vw;
    background-color: #41506062;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-between;
    color: white;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.newGame {
    grid-row: 1/3;
    grid-column: 1/2;
}

.bestScores {
    grid-row: 3/5;
    grid-column: 1/2;
}

h1 {
    font-size: 2.5rem;
    grid-row: 1/5;
    grid-column: 2/3;
    justify-self: center;
}

.charactersDiv {
    max-height: 100%;
    grid-row: 1/5;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
    justify-items: center;
}

.charactersDiv > img {
    max-width: 40px;
}

.charactersDiv > h2 {
    grid-column: 1/4;
    margin: 0px;
    margin-bottom: 10px;
}

.festivalImg {
    max-width: 100vw;
    position: absolute;
    z-index: 2;
}
